@import url("https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}

body {
  background-color: #121212;
  color: #faf7f7;
}

h1 {
  font-family: "Kode Mono", monospace;
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

.max-container {
  @apply w-[1200px] mx-auto py-8;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.flip {
  animation: flip 0.5s ease-out alternate 2;
}

.game-over-font {
  font-family: "Press Start 2P", system-ui;
}
