@import url("https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}

body {
  background-color: #121212;
  color: #faf7f7;
}

*::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Kode Mono", monospace;
}

h2 {
  font-size: 20px;
}

.max-container {
  @apply w-[95%] tablet:w-[85%] mx-auto py-8 px-4 tablet:px-0;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.flip {
  animation: flip 0.5s ease-out alternate 2;
}

.game-font {
  font-family: "Press Start 2P", system-ui;
}

/* shimmer  */

.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards ease-in-out;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #cecece 5%, #b4b4b4 25%, #cacaca 35%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
